<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <script src="//unpkg.com/vue"></script>
        <script src=”https://maps.googleapis.com/maps/api/js?key={{ GKEY }}” ></script>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
        {% block javascripts %}{% endblock %}
</html>
