{% extends 'base.html.twig' %}

{% block body %}
    <div id="app">
        <p>${ message }</p>
    </div>
{% endblock %}

{% block stylesheets %}
<style>

</style>
{% endblock %}

{% block javascripts %}
    <script src="js/bundle.js"></script>
{% endblock %}

